   kbd{
      font-size:14px;
      border-style: solid;  
      border-color: black;
      border-width: 1px;
   } 
   em{
      font-size:14px;
      color: red;
   } 

table {
border:3px solid black;
border-collapse:collapse
}
td {
border:1px solid black;
}


